
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

html {
    background-color: #d1c2e5;
    background-image: url("Images/desk.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
/*    color: #5a3c6e;*/
}

body {
    margin: 0;
    font-family: 'Baloo 2', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.25em;
}

a {
    text-decoration: none;
    color: black;
}

a.clientanchor {
    text-decoration: underline;
    color: black;
}

.placementgrid {
    display: grid;
    grid-template-columns: 18.1vw 62.6vw 19.3vw;
    grid-template-rows: 11.1vh 77.1vh 11.8vh;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.placementgridphonever {
    display: block;
    grid-area: 2 / 2 / 3 / 3
}

.postit {
    position: absolute;
    width: 15vw;
    top: 6%;
    right: 13%;
    z-index: 2;
}





/* ######################## HOME ########################  */

.desktop {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 23.25%) 7%; 
    width: 100%;
    height: 100%;
} 

.taskbar {
    grid-area: 5 / 1 / 6 / 7;
    background-color: #ad953b;
    border-top: solid 5px #72601f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasktext {
    margin: 0;
    transition: font-size 0.1s;
    font-weight: bold;
}

.tasktext:hover {
    font-size: 20px;
}

.icon {
    width: 55%;
    display: block;
    margin: auto;
    margin-top: 10px;
    transition: width 0.1s;
}

.icon:hover {
    width: 60%;
}

p.hometext {
    margin: 0;
    text-align: center;
}


.projects {
     grid-area: 1 / 1 / 2 / 2;
}

.about {
    grid-area: 2 / 1 / 3 / 2;
}

/*
.todo {
    grid-area: 3 / 6 / 4 / 7;
}
*/

.bin {
/*    grid-area: 3 / 6 / 4 / 7;*/
    grid-area: 3 / 6 / 5 / 7;
    align-self: flex-end;
}

    .ruthhead, .ruthsubhead1, .ruthsubhead2 {
        display: none;
    }




/* ######################## PAGES ########################  */

.window {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 7% 86% 7%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
}


.taskbar-page-ver {
    grid-area: 3 / 1 / 4 / 7;
    background-color: #ad953b;
    border-top: solid 5px #72601f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar {
    grid-area: 1 / 1 / 2 / 7;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    background-color: #d7cba2;
    border-bottom: solid 5px #72601f;
}

h1 {
    font-size: 18px;
    text-align: center;
    margin-top: 0.5%;
}

.x {
    width: 45%;
    display: block;
}

.page {
    grid-area: 2 / 1 / 3 / 7;
}




/* ######################## PROJECTS PAGE ########################  */

.projectpage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-row-gap: 20px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.topproj {
    padding: 20px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px; 
}

.botproj {
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px; 
/*    padding-bottom: 10%;*/
}

.projimg {
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectdiv:hover .projectcaption {
    opacity: 1;
}

.projectdiv {
    position: relative;
    width: 100%;
}

.projectcaption {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    bottom: 0;
    display: grid;
    align-content: center;
    justify-content: center;
}

.hcap {
    margin-bottom: 10px;
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: max(2vw, 16px);
}

.pcap {
    margin: 0;
    font-size: max(1vw, 16px);
}

.fixhisface {
    object-position: right;
}




/* ######################## SPECIFIC PROJECT PAGE ########################  */

.projectinfo {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 65% 30%;
    grid-column-gap: 0px;
    grid-row-gap: 10px; 
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.projheroimgs {
    grid-area: 1 / 1 / 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 33%);
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
    margin: 20px;
}

.hero {
    grid-area: 1 / 1 / 4 / 2;
}

.hero {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sideimg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projwordles {
    grid-area: 2 / 1 / 3 / 2;
    margin: 20px;
}

.h2proj {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.pproj {
    margin: 0;
    font-size: 16px;
}

.projdata {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 12px;
    margin: 20px;
    text-align: right;
    line-height: 1.1em;
}

.infos {
    margin: 0;
}

.projheroimgsbar {
    display: block;
    margin: 20px;
}

.herobar {
    display: block;
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}

/* ######################## CONTACT ########################  */

.contactpage {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr;   
    height: 100%;
    padding-left: 20px;
/*    padding-right: 20px;*/
    overflow-x: hidden;
    overflow-y: auto;
}

.contactform {
    padding-top: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

input[type=text], input[type=email], textarea#message {
    border: solid 2px #72601f;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 16px;
    width: 85%;
    margin-bottom: 8px;
    font-family: 'Baloo 2', Helvetica, Arial, sans-serif;
}

textarea#message {
    height: 100px;
    max-width: 85%;
    min-width: 85%;
}

input[type=submit] {
     border: solid 2px #72601f;
    border-radius: 5px;
    width: 100px;
    padding: 0.5em;
    margin-bottom: 35px;
    background-color: #72601f;
    color: white;
    font-family: 'Baloo 2', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.contactdeets {
    padding: 20px;
    padding-top: 79%;
    background-color: #72601f;
    color: white;
}

h2.cont {
    font-size: 18px;
    margin-bottom: 0;
}

h3.cont {
    font-size: 24px;
    margin-bottom: 0;
}

p.cont {
    margin: 0;
    word-wrap: break-word;
}


/* ######################## ABOUT ME ########################  */

.aboutpage {
    padding: 20px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.topinfo {
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 100%; 
    grid-column-gap: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.profileimg {
    position: relative;
    width: 80%;
}

.proimg {
    display: block;
    aspect-ratio : 1 / 1;
    width: 100%;
    border-radius: 1000px;
    object-fit: cover;
}

.myname {
    font-size: 40px;
}

.topinfo-emailstuff {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%; 
}

.info-top {
    display:flex;
    align-items: center;
    grid-column-gap: 20px;
    font-size: 1vw;
}

.infoimg {
    width: 10%;
}

.infoimgnotdiv {
    width: 100%;
    border-radius: 1000px;
}

hr {
    border: solid 1px #72601f;
}

div[type=text] {
    border: solid 2px #72601f;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 16px;
    width: 85%;
    margin-bottom: 8px;
}

.bottominfo {
    display: grid;
    grid-template-columns: 69% 33%;
    grid-template-rows: 1fr; 
    width: 100%;
    grid-column-gap: 20px;
}

.bio {
    width: 100%;
}

.skillslist {
    display: grid;
    grid-template-columns: 38% 28% 33%;
    grid-column-gap: 20px;
    padding-bottom: 20px;
}

.skll {
    margin: 5px;
}

.pastclients {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; 
    padding-bottom: 35px;
}

.client {
    width: 100%;
    object-fit: contain;
}


/* ######################## LIGHTBOX JUNK ########################  */

.lightbox {
    display:none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95)
}

.main-lightbox{
    display: grid;
    grid-template-columns: 10% repeat(2, 40%) 10%;
    grid-template-rows: 10% 35% 15% 35% 5%;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width: 100%;
    height: 95%;
    margin: auto;
}

.prev { 
    grid-area: 3 / 1 / 4 / 2;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    object-fit: contain;
    transition: 0.5s opacity;
}

.prev:hover, .next:hover, .close:hover{
    opacity: 0.5;
}

.next {
    grid-area: 3 / 4 / 4 / 5;
    width: 100%;
    height: 100%;
    padding-right: 20px;
    object-fit: contain;
    transition: 0.5s opacity;
}

.close {
    grid-area: 1 / 4 / 2 / 5;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s opacity;
    padding-top: 20px;
}

.captions {
    grid-area: 5 / 2 / 6 / 4;
    margin: 10px;
    text-align: center;
}

#caption {
    margin: 0;
}

.lightbox-stuff {
    grid-area: 2 / 2 / 5 / 4;
    width: 100%;
    height: 100%;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
}

.slideimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* ######################## BIN ########################  */
.binabyss {
    background-image: url(Images/Placeholders/binbackground.PNG);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12, 8.3%);
    grid-template-rows: repeat(12, 8.3%); 
    width: 100%;
    height: 100%;
}

.placeholders {
grid-area: 2 / 4 / 8 / 7;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cobwebs {
     grid-area: 1 / 10 / 5 / 13;;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top right;
}

.certificate {
      grid-area: 4 / 2 / 7 / 4;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.spampton {
     grid-area: 6 / 7 / 12 / 11;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.bigmac {
     grid-area: 9 / 2 / 12 / 4;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mouse {
   grid-area: 10 / 4 / 12 / 6;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.lovenote {
     grid-area: 10 / 11 / 12 / 13;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#thebox {
    display: none;
    position: absolute;
    bottom: 17.2%;
    left: 11.1%;
    right: 11.8%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border: 5px white solid;
    padding: 1em;
    max-width: 500px;
/*    height: 100px;*/
}

.dialogue {
    font-weight: bold;
    font-size: 24px;
    background:linear-gradient(#ffffff 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    background-repeat:no-repeat;
    color:#0000;
    -webkit-background-clip:text;
    background-clip:text;
    animation-timing-function:steps(var(--n))
}

#place1 {
    display: none;
    animation: none;
}
    
    #place2 {
    display: none;
    animation: none;
}

#cob1 {
    display: none;
    animation: none;
}
#cob2 {
    display: none;
    animation: none;
}
#cob3 {
    display: none;
    animation: none;
}
#cob4 {
    display: none;
    animation: none;
}
#cob5 {
    display: none;
    animation: none;
}

#certificate1 {
    display: none;
    animation: none;
}
    
    #certificate2 {
    display: none;
    animation: none;
}

#spamton1 {
    display: none;
    animation: none;
}
    
    #spamton2 {
    display: none;
    animation: none;
}

#bigmac1 {
    display: none;
    animation: none;
}
    
    #bigmac2 {
    display: none;
    animation: none;
}

#mouse1 {
    display: none;
    animation: none;
}
    
    #mouse2 {
    display: none;
    animation: none;
}

#lovenote1 {
    display: none;
    animation: none;
}
    
    #lovenote2 {
    display: none;
    animation: none;
}



    @keyframes t{
    from {background-size:0 200%
    }
    
}
/* 
   ########################################################################################################################################################################################################   
   ################################################################################################ JUST BECAUSE I CAN ####################################################################################
   ########################################################################################################################################################################################################
*/

/*992*/

@media only screen and (max-device-width: 992px), only screen and (max-width: 992px) {
    
.desktop {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 44%) 12%; 
    width: 100%;
    height: 100%;
} 

.taskbar {
    grid-area: 3 / 1 / 4 / 4;
    background-color: #ad953b;
    border-top: solid 5px #72601f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 55%;
    display: block;
    margin: auto;
    margin-top: 10px;
    transition: width 0.1s;
}

.icon:hover {
    width: 60%;
}

.projects {
    grid-area: 1 / 1 / 2 / 2; 
}

.about {
    grid-area: 2 / 1 / 3 / 2;
}

.bin {
    grid-area: 2 / 3 / 3 / 4;
}


.topproj {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 20px;
    }

    .botproj {
        padding: 20px;
        padding-top: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
/*        grid-template-rows: 1fr;*/
        grid-column-gap: 20px; 
        grid-row-gap: 20px; 
    }
    
    .projectinfo {
        display: block; 
    }
    
    .projheroimgs {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 2fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px; 
        margin: 20px;
        margin-right: 50px;
    }

    .hero {
        grid-area: 1 / 1 / 2 / 4;
    }

    .hero {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sideimg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .projwordles {
        grid-area: 2 / 1 / 3 / 2;
        margin: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .h2proj {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    .pproj {
        margin: 0;
        font-size: 16px;
    }

    .projdata {
        grid-area: 2 / 2 / 3 / 3;
        font-size: 12px;
        margin: 20px;
        text-align: left;
        margin-left: 40px;
        margin-right: 40px;
    }

    .aboutpage {
        padding: 20px;
        height: 100%;
    }

    .topinfo {
        display: block;
        margin-bottom: 20px;
    }

    .profileimg {
        width: 30%;
        margin: auto;
    }

    div[type=text] {
        width: 95%;
        margin-bottom: 8px;
    }

    .bottominfo {
        display: block;
        padding-bottom: 20px;
    }

    .bio {
        width: 100%;
        padding-bottom: 20px;
    }
    
    .info-top {
        font-size: 16px;
    }
    
    .skillslist {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .contactpage {
        display: block;
        padding: 0;
    }

    .contactform {
        padding-top: 20px;
        padding-left: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }

    input[type=text], input[type=email], textarea#message {
        width: 90%;
        font-family: 'Baloo 2', Helvetica, Arial, sans-serif;
    }

    textarea#message {
        max-width: 90%;
        min-width: 90%;
    }

    .contactdeets {
        padding-top: 20px;
        height: 100vh;
    }
    
    #thebox {
        max-width: 300px;
    }
    
}


/* 
   ########################################################################################################################################################################################################   
   ################################################################################################ MOBILE ################################################################################################
   ########################################################################################################################################################################################################
*/

/*768*/

@media only screen and (max-device-width: 768px) {
  
    
    html {
        background-color: #efe7f4;
        background-image: url(Images/phone.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
    }
    
    .postit {
        display: none;
    }
    
    .placementgrid {
        display: block;
        width: 100vw;
        height: 100vh;
    }
    
    /* ######################## HOME ########################  */
    
    .placementgridphonever {
        display: grid;
        grid-template-columns: 18.5vw 63vw 18.5vw;
        grid-template-rows: 18vh 67vh 15vh;
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
    }
    
    .desktop {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 42.25%) 15.5%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 100%;
    }
    
    .ruthhead {
        display: block;
        grid-area: 1 / 1 / 2 / 4;
        font-size: 8vw;
        font-weight: bold;
        text-align: center;
        margin: auto;
        padding-top: 0;
        padding-bottom: 20px;
        color: #5a3c6e;
    }
    
    p.hometext, .tasktext {
        padding-top: 15px;
        font-size: 50px;
    }
    
    .taskbar {
        grid-area: 3 / 1 / 4 / 2;
        margin-right: 0px;
        margin-left: 0px;
        border: 0;
        background-color: unset;
        border-radius: 0;
    }
    
    .projects {
        grid-area: 1 / 1 / 2 / 2;
        margin: 50px;
/*        padding-top: 50px;*/
    }
    
    .about {
        grid-area: 2 / 1 / 3 / 2;
        margin: 50px;
/*        padding-bottom: 50px;*/
    }
    
    .icon {
        height: 80%;
        width: auto;
        display: block;
        margin: auto;
        margin-top: 0px;
        transition: height 0.1s;
    }
    
    .icon:hover {
        height: 90%;
        width: auto;
    }
    
    .tasktext:hover {
        font-size: 30px;
    }
    
    .bin {
        display: none;
    }
    
    /* ######################## PAGES ########################  */
    
    .window {
        display: block;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .taskbar-page-ver {
        display: none;
    }

    .topbar {
        display: grid;
        grid-template-columns: 10% 90%;
        background-color: white;
        border-bottom: 0;
    }

    h1 {
        font-size: 5vw;
        padding-top: 20px;
        margin-right: 50px;
    }

    .x {
        width: 100%;
        padding: 10px;
    }

    .page {
        display: block;
    }
    
    
    /* ######################## PROJECTS ########################  */
    
    .projectpage {
        display: block;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .topproj {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 20px;
    }

    .botproj {
        padding: 20px;
        padding-top: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
/*        grid-template-rows: 1fr;*/
        grid-column-gap: 20px; 
        grid-row-gap: 20px; 
    }

    .projimg {
        display: block;
        border-radius: 20px;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .projectdiv:hover {
/*        opacity: 0;*/
    }

    .projectdiv {
        position: relative;
        width: 100%;
    }

    .projectcaption {
        width: 0;
        height: 0;
        border-radius: 20px;
        background: 0;
        background: 0;
        text-align: left;
        color: black;
        transition: 0.5s;
        opacity: 1;
        position: static;
        display: inline;
        justify-content: left;
    }

    .hcap {
        margin-bottom: 5px;
        margin-top: 0;;
        padding-left: 20px;
        font-size: 24px;
    }

    .pcap {
        margin: 0;
        font-size: 16px;
        padding-left: 20px;
    }

    
     /* ######################## SPECIFIC PROJECT ########################  */
    
    .projectinfo {
        display: block; 
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .projheroimgs {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 2fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px; 
        margin: 0px;
    }

    .hero {
        grid-area: 1 / 1 / 2 / 4;
    }

    .hero {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sideimg {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .projwordles {
        grid-area: 2 / 1 / 3 / 2;
        margin: 20px;
        margin-left: 75px;
        margin-right: 75px;
    }

    .h2proj {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 20px;
    }

    .pproj {
        margin: 0;
        font-size: 16px;
    }

    .projdata {
        grid-area: 2 / 2 / 3 / 3;
        font-size: 12px;
        margin: 20px;
        text-align: left;
        margin-left: 75px;
        margin-right: 75px;
    }
    
    .prev { 
        padding-left: 0px;
    }

    .next {
        padding-right: 0;
    }
    
    /* ######################## CONTACT ########################  */

.contactpage {
    display: block;
    padding: 0;
}

.contactform {
    padding-top: 20px;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

input[type=text], input[type=email], textarea#message {
    width: 90%;
    font-family: 'Baloo 2', Helvetica, Arial, sans-serif;
}

textarea#message {
    max-width: 90%;
    min-width: 90%;
}

.contactdeets {
    padding-top: 20px;
}
    
    
    
    /* ######################## ABOUT ME ########################  */
    
    .aboutpage {
        padding: 20px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .topinfo {
        display: block;
        margin-bottom: 20px;
    }

    .profileimg {
        width: 30%;
        margin: auto;
    }

    div[type=text] {
        width: 95%;
        margin-bottom: 8px;
    }

    .bottominfo {
        display: block;
        padding-bottom: 20px;
    }

    .bio {
        width: 100%;
        padding-bottom: 20px;
    }
    
    .topinfo-emailstuff {
        display: block;
    }
    
    .info-top {
        font-size: 16px;
    }
    
    .skillslist {
        display: block;
    }
    
    /* ######################## PROFILE IMAGES ########################  */

    #pics {
        display:none;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(2, 33%);
        grid-column-gap: 5px;
        grid-row-gap: 20px;
        position: fixed;
        left: 0;
        top: 0;
        width: 90%;
        height: 100vh;
        z-index: 1;
        margin: auto;
        background-color: rgba(255, 255, 255);
    }

    .potentialpic {
        width: 100%;
        aspect-ratio : 1 / 1;
        height: auto;
        border-radius: 1000px;
        object-fit: cover;
    }
    
    
    
    
    
    
    
    
}
    






